:root {
  /* задание цветовой палитры по стайлгайду */
  --text-primary: #000000;
  --text-secondary: #333333;
  --text-on-bg: #FFFFFF;
  --text-error: #FF5757;

  --button-primary: #756157;
  --button-secondary: #82b3d3;
  --button-selected: #7db54f;

  --bg-basic: #FFFFFF;
  --bg-main: #82B3D3;
  --bg-secondary-1: rgba(131, 179, 211, 12%);
  --bg-secondary-2: rgba(131, 179, 211, 20%);

  --icon-basic: #000000;
  --icon-secondary: #83b3d3;
  --icon-text: #7db54f;

  --form-inputs: #3f5e72;
  --forn-elements-1: #e5e5e5;
  --forn-elements-2: #f2f2f2;
}

/* подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* базовые стили */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans";
  font-style: normal;
  height: 100%;
  background-color: var(--bg-basic);
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* шрифты заголовков */
.title {
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-primary);
  margin: 0;
}

.title__big {
  font-size: 60px;
  line-height: 78px;
}

.title__medium {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.title__small {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.title__small-nonecase {
  font-size: 24px;
  line-height: 28px;
}

.title__smaller {
  font-size: 20px;
  line-height: 24px;
}

/* шрифты для основного контента */
.text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: var(--text-primary);
}

.text__phone {
  font-size: 40px;
  line-height: 40px;
}

.text__small {
  font-size: 18px;
  line-height: 21px;
}

.text__smaller {
  font-size: 16px;
  line-height: 21px;
}

.text__input {
  font-size: 18px;
  line-height: 24px;
}

.text__checkbox {
  font-style: 18px;
  line-height: 23px;
}

.text__secondary {
  color: var(--text-secondary);
}

.text__on-bg {
  color: var(--text-on-bg);
}

.text__error {
  color: var(--text-error);
}

/* кнопки */
.button {
  display: block;
  height: 36px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--text-on-bg);
  background-color: var(--button-primary);
}

.button__secondary {
  background-color: var(--button-secondary);
}

.button__selected {
  background-color: var(--button-selected);
}

.button__reset {
  background-color: transparent;
}

.button__big-text {
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}

.button__text-regular {
  font-weight: 400;
}

.button__text-titlecase {
  font-weight: 400;
  text-transform: capitalize;
}

/* блок header */
.page-header {
  display: flex;
  justify-content: start;
  padding: 0 70px;
  height: 64px;
  background-color: var(--bg-basic);
}

.navigation-menu {
  margin-left: 30px;
  margin-right: auto;
}

.navigation-menu-list {
  list-style: none;
}

.navigation-menu-link {
  text-decoration: none;
}

.user-menu-list {
  list-style: none;
}

.user-menu-item {
  display: block;
  width: 44px;
  height: 64px;
}

.user-menu-link {
  display: block;
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: var(--text-on-bg);
}

.user-menu-link__search {
  background: url("../images/icons/search.svg") no-repeat;
}

.user-menu-link__favorites {
  background: url("../images/icons/heart.svg") no-repeat;
}

.favorite-count {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  background-color: var(--icon-text);
  border-radius: 50%;
  position: relative;
  top: -11px;
  left: 8px;
}

.button__user-menu {
  width: 160px;
  line-height: 36px;
  text-decoration: none;
}

/* блок main */
/* страница index.html */
.main {
  flex-grow: 1;
}
/* секция hero */
.hero {
  display: block;
  width: 1200px;
  height: 485px;
  padding-top: 51px;
  background-color: var(--bg-main);
  background-image: url("../images/hero-background.jpg");
  position: relative;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.divider {
  display: block;
  width: 1200px;
  height: 57px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  background-image: url("../images/decorative/devider.svg")
}

/* секция advantages */
.advantages {
  text-align: center;

}

.advantages-header {
  height: 261px;
  padding: 70px 270px;

}
.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 33.3%;
  height: 385px;
}

.advantages-item__with-picture-right {
  width: 100%;
  background-color: var(--bg-main);
}

.advantages-item__secondary-1 {
  background-color: var(--bg-secondary-1);
}

.advantages-item__secondary-2 {
  background-color: var(--bg-secondary-2);
}

.advantages-item__with-picture-left {
  width: 100%;
  background-color: var(--bg-main);
}

/* секция service */
.service {
  text-align: center;
}

.service-header {
  height: 246px;
  padding: 64px 345px;
}
.service-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.service-item {
  display: block;
  width: 400px;
  height: 385px;
  padding: 81px 85px;
  padding-top: 183px;
}

.service-item__home {
  background-color: var(--bg-secondary-1);
  background-image: url("../images/decorative/service-home.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.service-item__food {
  background-image: url("../images/decorative/service-food.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.service-item__souvenir {
  background-color: var(--bg-secondary-1);
  background-image: url("../images/decorative/service-souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

/* секция search */
.search {
  text-align: center;
  padding: 96px 304px;
}

.button__search {
  width: 376px;
  margin: 0 auto;
}

/* секция subscribe */
.subscribe {
  display: block;
  width: 1200px;
  height: 415px;
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe__main {
  background-color: var(--text-secondary);
  background-image: url("../images/subscribe.jpg");
}

.subscription-input {
  width: 452px;
  height: 52px;
}

.button__subscribe {
  width: 232px;
}

/* страница catalog.html */
/* секция catalog-header */
.catalog-header {
  display: block;
  width: 1200px;
  height: 412px;
  padding: 35px 70px 70px;
  background-image: url("../images/cataloge-filter.jpg");
}

.breadcrubs-list {
  margin: 0;
  list-style: none;
}

.breadcrubs-link {
  text-decoration: none;
}

.breadcrubs-link__home {
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-filter-form {
  display: flex;
}

.form-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  width: 150px;
  height: 157px;
  border:none;
}

.form-group-cost {
  margin-left: 140px;
}

.form-group-wrapper {
  width: 150px;
  height: 157px;
}

.button__cataloge-filter {
  width: 191px;
}

/* секция cataloge */
.cataloge {
  padding: 50px 70px 60px;
}

.cataloge-header {
  display: flex;
  height: 50px;
  margin-bottom: 40px;
}

.card-view-list {
  list-style: none;
}

.card-view-item {
  display: block;
  width: 48px;
  height: 48px;
}

.card-view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-position: center center;
  background-repeat: no-repeat;
}

.card-view-link__tile {
  background-image: url("../images/icons/tile.svg");
}

.card-view-link__card {
  background-image: url("../images/icons/slideshow.svg");
}

.card-view-link__list {
  background-image: url("../images/icons/list.svg");
}

.card-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.card-item {
  display: block;
  width: 340px;
  height: 440px;
}

.card-link {
  text-decoration: none;
}

.card-link__image {
  display: block;
}

.button__cataloge-link {
  width: 140px;
  line-height: 36px;
}

.card-rating__text {
  width: 140px;
  line-height: 36px;
  color:var(--text-primary);
  background-color: var(--forn-elements-2);
}

.pagination-list {
  margin: 0;
  margin-top: 80px;
  padding: 0;
  display: flex;
  list-style: none;
}

.pagination-link {
  display: block;
  height: 60px;
  width: 60px;
  text-decoration: none;
  font-size: 20;
  line-height: 60px;
  text-align: center;
  color: var(--text-on-bg);
  background-color: var(--bg-main);
}

.pagination-link-current {
  color: var(--text-primary);
  background-color: var(--forn-elements-2);
}

.pagination-content {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
}

/* блок footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding: 40px 70px 30px;
}

.social-list {
  list-style: none;
}

.social-item {
  display: block;
  width: 48px;
  height: 40px;
}

.social-link {
  display: block;
  width: 48px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
}

.social-link__vk {
  background-image: url("../images/decorative/vk-logo.svg");
}

.social-link__tg {
  background-image: url("../images/decorative/tg-logo.svg");
}

.social-link__youtube {
  background-image: url("../images/decorative/youtube-logo.svg");
}

.phone-link {
  text-decoration: none;
}

.logo__html-academy {
  display: block;
  width: 115px;
  height: 33px;
  background-image: url("../images/decorative/html-academy.svg");
  background-repeat: no-repeat;
}
